<%= link_to raw('<i class="fa fa-arrow-left"></i> Back'),
      tasks_path, 
      class: 'btn btn-default btn-sm main-action-button' %>
<%= link_to raw('<i class="fa fa-plus"></i> New Task'), 
    new_task_path, 
    class: 'btn btn-sm btn-success main-action-button' %>

<h1>All Tasks with Tag " <%= params[:format] %> " </h1>
<div class="row">
  <div class="col-md-9">  
    <%= render 'table' %>
  </div>
  <%= render 'tagCloud' %>
</div>