<%= link_to raw('<i class="fa fa-plus"></i> New Task'), 
    new_task_path, remote: true,
    class: 'btn btn-sm btn-success main-action-button' %>
<div id="pending-btn" >
<%= link_to raw('View Pending Tasks'), 
    pending_tasks_path, remote: true,
    class: 'btn btn-sm btn-primary main-action-button' %>
</div>
<div id="back-btn" style="display:none">
<%= link_to raw('<i class="fa fa-arrow-left"></i> Back'),
      tasks_path,
      class: 'btn btn-default btn-sm main-action-button' %>
</div>
<h1 id="title">All Tasks </h1>
<div class="row">
  <div class="col-md-9">  
    <div id='tasks-table'><%= render 'table' %></div>
    <div class="task-form" id="task-form"></div>
  </div>
  <div id='tag-cloud'>  
    <%= render 'tagCloud' %>
  </div>
</div>
