<%= link_to raw('<i class="fa fa-plus"></i> New Task'), 
    new_task_path, 
    class: 'btn btn-sm btn-success main-action-button' %>

<h1>All Tasks</h1>

<hr>
<table class="table table-striped tasks-table">
  <tr>
    <th>Title</th>
    <th >Text</th>
    <th>Due</th>
    <th colspan="2">Tags</th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.text %></td>
      <td><%= task.due_date %></td>
      <td>
        <% task.tag_array.each do |tg| %>
          <span class="label label-info"><%= tg %></span>
        <% end %>
      </td>
      <td class="tasks-action-column">
        <%= link_to raw('<i class="fa fa-search"></i>'),
          task_path(task), 
          class: 'btn btn-default btn-xs' %>
        <%= link_to raw('<i class="fa fa-pencil"></i>'), 
          edit_task_path(task), 
          class: 'btn btn-default btn-xs' %>
        <%= link_to raw('<i class="fa fa-trash"></i>'), 
          task_path(task),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>
</table>
