<%= link_to raw('<i class="fa fa-arrow-left"></i> Back'),
      tasks_path, 
      class: 'btn btn-default btn-sm main-action-button' %>
<%= link_to raw('<i class="fa fa-plus"></i> New Tag'), 
    new_tag_path, 
    class: 'btn btn-sm btn-success main-action-button' %>

<h1>Manage Tags</h1>
<hr>
<table class="table table-striped tasks-table">
  <% @tags.each do |tag| %>
    <tr>
      <td>
        <%= link_to tag.name, filter_tasks_path(tag.name), class: 'tasks-tag label label-default', style: "background-color: " + tag.color %>
      </td>
      <td class="tasks-action-column">
        <%= link_to raw('<i class="fa fa-pencil"></i>'), 
          edit_tag_path(tag), 
          class: 'btn btn-default btn-xs' %>
        <%= link_to raw('<i class="fa fa-trash"></i>'), 
          tag_path(tag),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>
</table>

